name: Maven Package

on:
  push:
    tags:
      - 'release/*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 8
        server-id: repsy
        server-username: MVN_USER
        server-password: MVN_PASS

    - name: set version
      run: mvn -B versions:set -DnewVersion=${GITHUB_REF##*/}

    - name: build
      run: mvn -B package
    - name: test
	  run: |
	    java -jar unknow-http-test/target/server.jar &
		pid=$?
		sleep 10
		kill $pid

    - name: echo
	  run: echo ok
    - name: validate
      run: bash .github/http_test.sh

    - name: publish
      run: mvn -B deploy
      env:
        MVN_USER: ${{secrets.REPSY_USER}}
        MVN_PASS: ${{secrets.REPSY_PASS}}

